
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image : url('../img/fundo2.jpg');
  background-size: auto 100vh;

  font-family: monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
}

/* Se a tela tver pelo menos 400px, vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint*/
@media (min-width: 600px){
  body{
    font-size: 18px;
  }
}

header{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: rgb(40, 29, 194);
  opacity: 0.6;
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu ul{
  display: flex;
  justify-content: space-around;
}
.menu li{
   list-style: none;
}

.menu a{
  padding: 10px 20px;
  display: block;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.site-subtitle, 
.site-title{
  color:white;
  text-align: center;

}

.site-title{
  font-size: 4em;
}

.site-subtitle{
  font-style: italic;
}

.img-portfolio{
  height: 180px;
  width: 300px;
  color:white;
}

figcaption{
  color: white;
}

h2{
  color: white;
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 80px;
 
}
h3{
  color: white;
  margin-top: 20px;
  margin-right: 50px; 
  margin-left: 70px;
}

figure{
  margin-right: 40px;
  margin-left: 40px;
}

section p a {
  color: white;
  margin-right: 100px;
  margin-left: 80px; 
}

.logo{
  width: 40px;
  margin-right: 100px;
  margin-left: 100px;
}
/*
body {
    background-image:url('../img/gif1.gif');
    background-size:  100vh;
    height: 100vh;
    
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  .menu li{
     list-style: none;
  }
  
  a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', cursive;
    background-color: #BA55D3;
    opacity: 0.6;
    padding: 10px;
    border-radius: 10px;
  }
  
  a:hover{
      text-decoration: underline;
      background-color: rgba(23, 181, 243, 0.7);
  }
  
   
  .site-title{
    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: verdana;
  }
  
  .site-subtitle{
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    font-family: verdana;
    font-size: medium;
  }
*/
